include ../config/config
<!DOCTYPE html>
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        block title
        style.
            :root{--fondo: aliceblue;--fondo-footer: #555;--texto: #333;--texto-footer: #ffffff;--contraste: rgb(0, 126, 137);--active: rgb(255, 60, 0);--bgcactive: #ccc;--foco: #fbff02;--font-base: 'Source Sans Pro', sans-serif;--font-comentarios: 'Gupter', serif;--font-menu: 1.6rem;--font-body: 2rem;--font-hero: 4rem}*{box-sizing:border-box;margin:0;padding:0}html{font-size:10px;width:100%}body{background-color:aliceblue;background-color:aliceblue;background-color:var(--fondo);color:#333;color:#333;color:var(--texto);font-family:'Source Sans Pro',sans-serif;font-family:'Source Sans Pro',sans-serif;font-family:var(--font-base);font-size:2rem;font-size:2rem;font-size:var(--font-body);overflow-x:hidden}.no-visible{position:absolute;width:1px;height:1px;overflow:hidden;clip:rect(1px,1px,1px,1px)}.btn-volver-arriba{display:inline-block;width:40px;height:40px;background:rgba(0,0,0,0.5);border-radius:30%;position:fixed;bottom:20px;right:20px;z-index:9999;margin-right:-60px}.btn-volver-arriba #volverArriba{display:inline-block;width:100%;height:100%;border-radius:30%;text-align:center;border-bottom:none}.header{height:100vh;display:flex;flex-direction:column;justify-content:center;position:relative;align-items:center}.header .contenedor-slider{width:100%;overflow:hidden;position:relative}.header .contenedor-slider .slider{width:400%;display:flex}.header .contenedor-slider .slider .slide{width:25%;box-shadow:0px 20px 40px #aaa}.header .contenedor-slider .slider .slide img{min-width:100vw;height:100vh;vertical-align:top}.header .contenedor-slider .btn-anterior,.header .contenedor-slider .btn-siguiente{display:flex;align-items:center;justify-content:center;width:40px;height:40px;background:rgba(0,0,0,0.5);border-radius:30%;position:absolute;top:50%;transform:translateY(-50%);z-index:999}.header .contenedor-slider .btn-anterior .fa-arrow-left,.header .contenedor-slider .btn-siguiente .fa-arrow-right{color:white}.header .contenedor-slider .btn-anterior{left:2%}.header .contenedor-slider .btn-siguiente{right:2%}.header .fa-bars.icon-menu.burguer-boton{color:aliceblue;color:aliceblue;color:var(--fondo);display:block;width:4rem;height:4rem;background-color:rgba(0,0,0,.6);position:fixed;left:.5rem;top:.5rem;z-index:99999;line-height:4.5rem;text-align:center;font-size:3rem}@media only screen and (min-width:730px){.header .fa-bars.icon-menu.burguer-boton{display:none}}.header p,.header h1{color:aliceblue;color:aliceblue;color:var(--fondo);font-size:4rem;font-size:4rem;font-size:var(--font-hero);text-shadow:4px 4px 6px #333;text-shadow:4px 4px 6px #333;text-shadow:4px 4px 6px var(--texto);text-align:center;position:absolute}.header h1{top:30%;transform:translateY(-30%);-webkit-animation:entradah1 .8s ease-in-out;animation:entradah1 .8s ease-in-out}@media only screen and (min-width:560px){.header h1{top:35%;transform:translateY(-35%)}}@media only screen and (min-width:730px){.header h1{top:40%;transform:translateY(-40%)}}@media only screen and (min-width:1010px){.header h1{top:45%;transform:translateY(-45%)}}.header p{top:70%;transform:translateY(-70%);-webkit-animation:entradap 1.6s ease-in-out;animation:entradap 1.6s ease-in-out}@media only screen and (min-width:560px){.header p{top:65%;transform:translateY(-65%)}}@media only screen and (min-width:730px){.header p{top:60%;transform:translateY(-60%)}}@media only screen and (min-width:1010px){.header p{top:55%;transform:translateY(-55%)}}@-webkit-keyframes entradah1{0%{margin-left:-100%;width:300%}100%{margin-left:0%;width:100%}}@keyframes entradah1{0%{margin-left:-100%;width:300%}100%{margin-left:0%;width:100%}}@-webkit-keyframes entradap{0%{margin-left:100%;width:300%}100%{margin-left:0%;width:100%}}@keyframes entradap{0%{margin-left:100%;width:300%}100%{margin-left:0%;width:100%}}a,a:link,a:visited{text-decoration:none;border-bottom:2px solid #333;border-bottom:2px solid #333;border-bottom:2px solid var(--texto);color:#333;color:#333;color:var(--texto)}p{padding:1rem 2rem;text-align:center;max-width:119rem;margin:0 auto}.footer .footer__subs .footer__form form .confirma{display:none;font-size:2rem;font-weight:bold}.article .comentarios p{text-align:justify}.article .comentarios .comentario__formulario form fieldset div p.confirm{display:none;font-size:2.5rem;font-weight:bold}
        link(rel="shortcut icon", href="./favicon.ico", type="image/x-icon")
    body#body
        a(class="no-visible", href="#main", role="button", tabindex="1") Saltar al contenido principal
        div(class="btn-volver-arriba", id="btnVolverArriba", tabindex="3")
            a(href="#", class="volver-arriba", id="volverArriba", aria-label="Volver arriba", role="button")
                i(class="fas fa-arrow-up", aria-hidden="true", role="img")
        header(class="header")
            i(class="fas fa-bars icon-menu burguer-boton", id="boton-menu", role="button", tabindex="4")
            div.contenedor-slider
                div.slider#slider
                    div.slide
                        picture
                            source(media="(min-width: 775px)", srcset="./images/hero1-verybig_w_775.jpg 775w, ./images/hero1-verybig_w_861.jpg 861w, ./images/hero1-verybig_w_910.jpg 910w, ./images/hero1-verybig_w_1066.jpg 1066w, ./images/hero1-verybig_w_1209.jpg 1209w, ./images/hero1-verybig_w_1341.jpg 1341w, ./images/hero1-verybig_w_1466.jpg 1466w, ./images/hero1-verybig_w_1579.jpg 1579w, ./images/hero1-verybig_w_1686.jpg 1686w, ./images/hero1-verybig_w_1793.jpg 1793w, ./images/hero1-verybig_w_1889.jpg 1889w, ./images/hero1-verybig_w_1990.jpg 1990w, ./images/hero1-verybig_w_2083.jpg 2083w, ./images/hero1-verybig_w_2166.jpg 2166w, ./images/hero1-verybig_w_2259.jpg 2259w, ./images/hero1-verybig_w_2344.jpg 2344w, ./images/hero1-verybig_w_2428.jpg 2428w, ./images/hero1-verybig_w_2508.jpg 2508w, ./images/hero1-verybig_w_2587.jpg 2587w, ./images/hero1-verybig_w_2661.jpg 2661w, ./images/hero1-verybig_w_2740.jpg 2740w, ./images/hero1-verybig_w_2818.jpg 2818w, ./images/hero1-verybig_w_2887.jpg 2887w, ./images/hero1-verybig_w_2959.jpg 2959w, ./images/hero1-verybig_w_3029.jpg 3029w, ./images/hero1-verybig_w_3100.jpg 3100w, ./images/hero1-verybig_w_3170.jpg 3170w, ./images/hero1-verybig_w_3233.jpg 3233w, ./images/hero1-verybig_w_3302.jpg 3302w, ./images/hero1-verybig_w_3374.jpg 3374w, ./images/hero1-verybig_w_3434.jpg 3434w, ./images/hero1-verybig_w_3496.jpg 3496w, ./images/hero1-verybig_w_3564.jpg 3564w, ./images/hero1-verybig_w_3628.jpg 3628w, ./images/hero1-verybig_w_3687.jpg 3687w, ./images/hero1-verybig_w_3748.jpg 3748w, ./images/hero1-verybig_w_3809.jpg 3809w, ./images/hero1-verybig_w_3840.jpg 3840w", sizes="100vw")
                            source(media="(min-width: 630px)", srcset="./images/hero1-big_w_630.jpg 630w, ./images/hero1-big_w_728.jpg 728w", sizes="100vw")
                            source(media="(min-width: 450px)", srcset="./images/hero1-medium_w_450.jpg 450w, ./images/hero1-medium_w_553.jpg 553w, ./images/hero1-medium_w_624.jpg 624w", sizes="100vw")
                            source(media="(min-width: 320px)", srcset="./images/hero1-small_w_320.jpg 320w, ./images/hero1-small_w_409.jpg 409w", sizes="100vw")
                            img(data-src="./images/hero1_w_200.jpg", alt="Mesa de trabajo con un ordenador, una tablet, una agenda, un boligrafo, unas gafas y una taza de cafe.", srcset="./images/hero1_w_200.jpg 200w, ./images/hero1_w_296.jpg 296w", sizes="100vw", loading="lazy", class="lazyload")
                    div.slide
                        picture
                            source(media="(min-width: 775px)", srcset="./images/hero2-verybig_w_775.jpg 775w, ./images/hero2-verybig_w_940.jpg 940w, ./images/hero2-verybig_w_1089.jpg 1089w, ./images/hero2-verybig_w_1224.jpg 1224w, ./images/hero2-verybig_w_1355.jpg 1355w, ./images/hero2-verybig_w_1474.jpg 1474w, ./images/hero2-verybig_w_1589.jpg 1589w, ./images/hero2-verybig_w_1699.jpg 1699w, ./images/hero2-verybig_w_1792.jpg 1792w, ./images/hero2-verybig_w_1897.jpg 1897w, ./images/hero2-verybig_w_1988.jpg 1988w, ./images/hero2-verybig_w_2072.jpg 2072w, ./images/hero2-verybig_w_2163.jpg 2163w, ./images/hero2-verybig_w_2245.jpg 2245w, ./images/hero2-verybig_w_2335.jpg 2335w, ./images/hero2-verybig_w_2417.jpg 2417w, ./images/hero2-verybig_w_2487.jpg 2487w, ./images/hero2-verybig_w_2560.jpg 2560w, ./images/hero2-verybig_w_2634.jpg 2634w, ./images/hero2-verybig_w_2715.jpg 2715w, ./images/hero2-verybig_w_2787.jpg 2787w, ./images/hero2-verybig_w_2858.jpg 2858w, ./images/hero2-verybig_w_2929.jpg 2929w, ./images/hero2-verybig_w_2997.jpg 2997w, ./images/hero2-verybig_w_3063.jpg 3063w, ./images/hero2-verybig_w_3130.jpg 3130w, ./images/hero2-verybig_w_3188.jpg 3188w, ./images/hero2-verybig_w_3252.jpg 3252w, ./images/hero2-verybig_w_3324.jpg 3324w, ./images/hero2-verybig_w_3387.jpg 3387w, ./images/hero2-verybig_w_3443.jpg 3443w, ./images/hero2-verybig_w_3502.jpg 3502w, ./images/hero2-verybig_w_3568.jpg 3568w, ./images/hero2-verybig_w_3628.jpg 3628w, ./images/hero2-verybig_w_3691.jpg 3691w, ./images/hero2-verybig_w_3748.jpg 3748w, ./images/hero2-verybig_w_3804.jpg 3804w, ./images/hero2-verybig_w_3840.jpg 3840w", sizes="100vw")
                            source(media="(min-width: 630px)", srcset="./images/hero2-big_w_630.jpg 630w, ./images/hero2-big_w_728.jpg 728w", sizes="100vw")
                            source(media="(min-width: 449px)", srcset="./images/hero2-medium_w_449.jpg 449w, ./images/hero2-medium_w_591.jpg 591w", sizes="100vw")
                            source(media="(min-width: 320px)", srcset="./images/hero2-small_w_320.jpg 320w, ./images/hero2-small_w_409.jpg 409w", sizes="100vw")
                            img(data-src="./images/hero2_w_200.jpg", alt="Dos compañeros de trabajo sonrien frente a una pantalla de ordenador.", srcset="./images/hero2_w_200.jpg 200w, ./images/hero2_w_296.jpg 296w", sizes="100vw", loading="lazy", class="lazyload")
                    div.slide
                        picture
                            source(media="(min-width: 775px)", srcset="./images/hero3-verybig_w_775.jpg 775w, ./images/hero3-verybig_w_943.jpg 943w, ./images/hero3-verybig_w_1096.jpg 1096w, ./images/hero3-verybig_w_1237.jpg 1237w, ./images/hero3-verybig_w_1368.jpg 1368w, ./images/hero3-verybig_w_1487.jpg 1487w, ./images/hero3-verybig_w_1609.jpg 1609w, ./images/hero3-verybig_w_1718.jpg 1718w, ./images/hero3-verybig_w_1828.jpg 1828w, ./images/hero3-verybig_w_1914.jpg 1914w, ./images/hero3-verybig_w_2018.jpg 2018w, ./images/hero3-verybig_w_2117.jpg 2117w, ./images/hero3-verybig_w_2204.jpg 2204w, ./images/hero3-verybig_w_2285.jpg 2285w, ./images/hero3-verybig_w_2377.jpg 2377w, ./images/hero3-verybig_w_2458.jpg 2458w, ./images/hero3-verybig_w_2540.jpg 2540w, ./images/hero3-verybig_w_2618.jpg 2618w, ./images/hero3-verybig_w_2694.jpg 2694w, ./images/hero3-verybig_w_2775.jpg 2775w, ./images/hero3-verybig_w_2843.jpg 2843w, ./images/hero3-verybig_w_2915.jpg 2915w, ./images/hero3-verybig_w_2985.jpg 2985w, ./images/hero3-verybig_w_3055.jpg 3055w, ./images/hero3-verybig_w_3127.jpg 3127w, ./images/hero3-verybig_w_3192.jpg 3192w, ./images/hero3-verybig_w_3253.jpg 3253w, ./images/hero3-verybig_w_3316.jpg 3316w, ./images/hero3-verybig_w_3386.jpg 3386w, ./images/hero3-verybig_w_3446.jpg 3446w, ./images/hero3-verybig_w_3505.jpg 3505w, ./images/hero3-verybig_w_3566.jpg 3566w, ./images/hero3-verybig_w_3627.jpg 3627w, ./images/hero3-verybig_w_3687.jpg 3687w, ./images/hero3-verybig_w_3746.jpg 3746w, ./images/hero3-verybig_w_3802.jpg 3802w, ./images/hero3-verybig_w_3840.jpg 3840w", sizes="100vw")
                            source(media="(min-width: 630px)", srcset="./images/hero3-big_w_630.jpg 630w, ./images/hero3-big_w_728.jpg 728w", sizes="100vw")
                            source(media="(min-width: 428px)", srcset="./images/hero3-medium_w_428.jpg 428w, ./images/hero3-medium_w_559.jpg 559w", sizes="100vw")
                            source(media="(min-width: 320px)", srcset="./images/hero3-small_w_320.jpg 320w, ./images/hero3-small_w_409.jpg 409w", sizes="100vw")
                            img(data-src="./images/hero3_w_200.jpg", alt="Sobre una mesa de trabajo se observa un portatil que muestra código en su pantalla, un ratón, unos libros y un reloj de pulsera.", srcset="./images/hero3_w_200.jpg 200w, ./images/hero3_w_296.jpg 296w", sizes="100vw", loading="lazy", class="lazyload")
                    div.slide
                        picture
                            source(media="(min-width: 775px)", srcset="./images/hero4-verybig_w_775.jpg 775w, ./images/hero4-verybig_w_951.jpg 951w, ./images/hero4-verybig_w_1103.jpg 1103w, ./images/hero4-verybig_w_1246.jpg 1246w, ./images/hero4-verybig_w_1374.jpg 1374w, ./images/hero4-verybig_w_1487.jpg 1487w, ./images/hero4-verybig_w_1593.jpg 1593w, ./images/hero4-verybig_w_1698.jpg 1698w, ./images/hero4-verybig_w_1802.jpg 1802w, ./images/hero4-verybig_w_1898.jpg 1898w, ./images/hero4-verybig_w_1990.jpg 1990w, ./images/hero4-verybig_w_2079.jpg 2079w, ./images/hero4-verybig_w_2166.jpg 2166w, ./images/hero4-verybig_w_2252.jpg 2252w, ./images/hero4-verybig_w_2337.jpg 2337w, ./images/hero4-verybig_w_2419.jpg 2419w, ./images/hero4-verybig_w_2498.jpg 2498w, ./images/hero4-verybig_w_2577.jpg 2577w, ./images/hero4-verybig_w_2653.jpg 2653w, ./images/hero4-verybig_w_2733.jpg 2733w, ./images/hero4-verybig_w_2806.jpg 2806w, ./images/hero4-verybig_w_2879.jpg 2879w, ./images/hero4-verybig_w_2959.jpg 2959w, ./images/hero4-verybig_w_3028.jpg 3028w, ./images/hero4-verybig_w_3094.jpg 3094w, ./images/hero4-verybig_w_3166.jpg 3166w, ./images/hero4-verybig_w_3239.jpg 3239w, ./images/hero4-verybig_w_3309.jpg 3309w, ./images/hero4-verybig_w_3375.jpg 3375w, ./images/hero4-verybig_w_3439.jpg 3439w, ./images/hero4-verybig_w_3505.jpg 3505w, ./images/hero4-verybig_w_3567.jpg 3567w, ./images/hero4-verybig_w_3635.jpg 3635w, ./images/hero4-verybig_w_3702.jpg 3702w, ./images/hero4-verybig_w_3764.jpg 3764w, ./images/hero4-verybig_w_3825.jpg 3825w, ./images/hero4-verybig_w_3834.jpg 3834w, ./images/hero4-verybig_w_3840.jpg 3840w", sizes="100vw")
                            source(media="(min-width: 630px)", srcset="./images/hero4-big_w_630.jpg 630w, ./images/hero4-big_w_698.jpg 698w, ./images/hero4-big_w_728.jpg 728w", sizes="100vw")
                            source(media="(min-width: 450px)", srcset="./images/hero4-medium_w_450.jpg 450w, ./images/hero4-medium_w_532.jpg 532w, ./images/hero4-medium_w_601.jpg 601w", sizes="100vw")
                            source(media="(min-width: 320px)", srcset="./images/hero4-small_w_320.jpg 320w, ./images/hero4-small_w_408.jpg 408w", sizes="100vw")
                            img(data-src="./images/hero4_w_200.jpg", alt="Se observa sobre una mesa rustica una tablet con código HTML, un smartphone y un boceto ha lapiz sobre una hoja blanca de un layout", srcset="./images/hero4_w_200.jpg 200w, ./images/hero4_w_281.jpg 281w, ./images/hero4_w_296.jpg 296w", sizes="100vw", loading="lazy", class="lazyload")
                div(class="btn-anterior", id="btnAnterior", role="button", tabindex="10")
                    i(class="fa fa-arrow-left", aria-hidden="true", role="img")
                div(class="btn-siguiente", id="btnSiguiente", role="button", tabindex="11")
                    i(class="fa fa-arrow-right", aria-hidden="true", role="img")
            block header
        .subheader
            .subheader__logo
                a(href="index.html")
                    img(data-src="./images/LogoPersonal.png", alt="Logotipo formado por una esfera del mundo que en su parte interior central contiene las siglas WWW y un cursor de raton señalandolo.", loading="lazy", class="lazyload")
            .subheader__titulo
                h2 Desarrollo Front-End
            nav(class="subheader__menu menu", aria-label="Menú principal del sitio")
                ul
                    -let i = 0
                    while i < menus.length
                        if menus[i].toLowerCase() == active
                            li(class="active")
                                +enlace(hrefes[i],i+5,menus[i])
                        else
                            li
                                +enlace(hrefes[i],i+5,menus[i])
                        -i++
        block main
        footer.footer
            .footer__header
                .footer__titulo
                    h2 Desarrollo Front-End
                .footer__logo
                    a(href="index.html")
                        img.lazyload.clip-svg(data-src="./images/nhcssprof1-264.jpg", alt="Fondo de la imagen de Logotipo para footer constituido por una imagen que contiene reglas CSS", loading="lazy")
                        svg(viewBox="0 0 180 180", width="0", height="0")
                            defs
                                clipPath(id="myClip")
                                    path(class="st0", d="M78.8,104.5c0,1.2,0.7,1.7,2.7,1.7c5.7,0.2,11.3,0.9,16.7,2.2c1.9,0.5,2.9,0.2,3.6-0.9 c2.8-3.9,4.7-7.9,5.3-12.2c0.3-1.8-0.8-2.3-3.6-2.2c-3.4,0.1-6.9,0-10.3,0c0,0,0,0,0,0c-3.9,0-7.7,0-11.6,0c-2.2,0-3,0.5-3,1.9 C78.9,98.2,78.9,101.4,78.8,104.5z")
                                    path(class="st0" d="M81.9,64.6c3.7-0.1,7.4,0,11.1,0c3.6,0,7.1-0.1,10.7,0c2.7,0.1,3.9-0.4,3.6-2.3c-0.6-4-2.2-7.8-4.4-11.6 c-0.8-1.3-1.8-1.3-3.6-0.9c-5.6,1.3-11.4,2.3-17.4,2.4c-2.1,0-3,0.6-2.9,2.1c0.1,2.8,0.1,5.6,0,8.4C78.7,64.2,79.8,64.6,81.9,64.6z")
                                    path(class="st0" d="M121.1,93.2c-1.3,0-2.6,0.1-3.8,0c-4.4-0.5-5.7,0.8-5.8,3.3c-0.1,3-1.5,5.9-3.2,8.7c-3,5.1-2.9,5,4.6,7.9 c2.1,0.8,3.1,0.6,4.6-0.5c5.4-4.1,9.3-8.7,10.8-13.8C130.2,92,130.8,93.3,121.1,93.2z")
                                    path(class="st0" d="M108.3,47.1c-2.1,0.6-2.3,1.3-1.4,2.6c2.1,3.1,3.4,6.3,4.3,9.6c1.4,5.2,1.4,5.2,9.2,5.2c1.7,0,3.4-0.1,5.1,0 c3.4,0.3,4.1-0.6,3.6-2.7c-1.3-5.2-3.7-10.1-8.2-14.5c-3.8-3.8-3.8-3.8-9.7-1.4C110.3,46.4,109.4,46.8,108.3,47.1z")
                                    path(class="st0" d="M81.6,49.6c5.6-0.4,10.9-1.7,16.2-3.6c1.4-0.5,1.6-1.3,0.8-2.6c-4.9-7.8-11.1-14.2-19.7-19.7 c0,8.5,0,15.9,0,23.3C78.8,49,79.6,49.8,81.6,49.6z")
                                    path(class="st0" d="M96.7,115c1.6-2.3,0.9-3.1-1.4-3.8c-4.4-1.4-8.9-2.1-13.4-2.8c-2.2-0.3-3.2,0.3-3.1,2.7c0.1,2.8,0,5.7,0,8.6 c0,3,0.1,6,0,9c-0.1,2.8,0.8,2.9,2.9,1.5C87.5,125.8,92.5,120.8,96.7,115z")
                                    path(class="st0" d="M100.1,37.6c4.3,6.1,4.2,6,10.5,1.9c2.9-1.9,2.3-3.1,0.1-4.9c-5.7-4.6-12-8.2-19.1-10.1 c-1.1-0.3-2.2-1.2-3.8,0C92.5,28.4,96.6,32.7,100.1,37.6z")
                                    path(class="st0" d="M105.5,115.6c-1.3-0.7-2.5-2.1-3.9,0.1c-3.8,6.1-8.8,11.1-14,16.1c6.7-1.1,12.8-3.7,18.4-7.4 C112.9,119.7,112.9,119.4,105.5,115.6z")
                                    path(class="st0" d="M72.3,93.2c-3.9,0.1-7.7,0-11.6,0c0,0,0,0,0,0c-3.4,0-6.9,0.1-10.3,0c-2.8-0.1-3.9,0.4-3.6,2.2 c0.7,4.3,2.6,8.3,5.3,12.2c0.8,1.1,1.7,1.4,3.6,0.9c5.4-1.3,11-2,16.7-2.2c2-0.1,2.8-0.5,2.7-1.7c-0.1-3.2-0.1-6.3,0-9.5 C75.3,93.7,74.5,93.1,72.3,93.2z")
                                    path(class="st0" d="M75.3,54.3c0.1-1.4-0.8-2-2.9-2.1c-6-0.1-11.8-1.1-17.4-2.4c-1.8-0.4-2.8-0.4-3.6,0.9 c-2.3,3.7-3.8,7.5-4.4,11.6c-0.3,1.9,0.9,2.4,3.6,2.3c3.6-0.1,7.1,0,10.7,0c3.7,0,7.4,0,11.1,0c2.1,0,3.1-0.3,3.1-1.9 C75.2,59.9,75.2,57.1,75.3,54.3z")
                                    path(class="st0" d="M45.8,105.1c-1.6-2.8-3-5.7-3.2-8.7c-0.1-2.5-1.4-3.8-5.8-3.3c-1.2,0.1-2.6,0-3.8,0c-9.7,0.1-9.1-1.1-7.1,5.6 c1.5,5.2,5.4,9.7,10.8,13.8c1.4,1.1,2.5,1.3,4.6,0.5c2.9-1.1,4.7-1.8,5.6-2.5C48.3,109.4,47.6,108.2,45.8,105.1z")
                                    path(class="st0" d="M28.5,64.6c1.7-0.1,3.4,0,5.1,0c7.9,0,7.8,0,9.2-5.2c0.9-3.3,2.2-6.5,4.3-9.6c0.9-1.3,0.7-2.1-1.4-2.6 c-1-0.3-2-0.7-2.9-1.1c-5.9-2.4-5.9-2.4-9.7,1.4c-4.5,4.4-6.9,9.3-8.2,14.5C24.4,64,25.1,64.8,28.5,64.6z")
                                    path(class="st0" d="M55.6,43.4c-0.8,1.3-0.7,2.1,0.8,2.6c5.2,1.9,10.6,3.2,16.2,3.6c2,0.2,2.8-0.6,2.8-2.6c-0.1-7.4,0-14.8,0-23.3 C66.7,29.2,60.4,35.6,55.6,43.4z")
                                    path(class="st0" d="M75.2,119.6c0-2.9-0.1-5.7,0-8.6c0.1-2.3-0.9-3-3.1-2.7c-4.5,0.7-9,1.4-13.4,2.8c-2.3,0.7-3.1,1.6-1.4,3.8 c4.2,5.9,9.2,10.9,15,15.1c2.1,1.5,3,1.3,2.9-1.5C75.1,125.6,75.2,122.6,75.2,119.6z")
                                    path(class="st0" d="M43.5,39.5c6.3,4.1,6.2,4.3,10.5-1.9c3.5-4.9,7.5-9.2,12.2-13.1c-1.5-1.3-2.6-0.3-3.8,0 c-7.1,2-13.4,5.6-19.1,10.1C41.2,36.4,40.6,37.6,43.5,39.5z")
                                    path(class="st0" d="M52.5,115.7c-1.4-2.2-2.6-0.8-3.9-0.1c-7.4,3.9-7.4,4.1-0.5,8.8c5.6,3.8,11.7,6.3,18.4,7.4 C61.2,126.8,56.3,121.7,52.5,115.7z")
                                    path(class="st0" d="M77,15.8c-34.2,0-62,27.7-62,62s27.7,62,62,62s62-27.7,62-62S111.2,15.8,77,15.8z M77,135.2 c-31.7,0-57.4-25.7-57.4-57.4S45.3,20.3,77,20.3s57.4,25.7,57.4,57.4S108.8,135.2,77,135.2z")
                                    path(class="st0" d="M59,67l-7.3,23.9h-5l-4.5-16.8l-4.5,16.8h-5.2L24.9,67h6l4.9,16.1L40,67h5.1l4.4,16.1L54.3,67H59z")
                                    path(class="st0" d="M94.1,67l-7.3,23.9h-5l-4.5-16.8l-4.5,16.8h-5.2L60,67h6l4.9,16.1L75.1,67h5.1l4.4,16.1L89.3,67H94.1z")
                                    path(class="st0" d="M129.2,67l-7.3,23.9h-5l-4.5-16.8l-4.5,16.8h-5.2L95.1,67h6l4.9,16.1l4.3-16.1h5.1l4.4,16.1l4.8-16.1H129.2z")
                                    polygon(class="st1" points="112.1,122.2 115.2,128.6 126.4,117.4 119.2,114.5 ")
                                    path(class="st0" d="M164,134.2L110,113.5l27.3,51l6.4-16.2l15.9,14c0.4,0.4,1.1,0.4,1.5-0.1l1.8-2.1l0,0l1.8-2.1 c0.4-0.4,0.4-1.1-0.1-1.5l-15.9-14L164,134.2z")
                .footer__description
                    p Logotipo formado por una esfera del mundo que en su parte interior central contiene las siglas WWW y un cursor de raton señalandolo.
            .footer__subs
                .footer__subscribe
                    h4 Subscribete
                    p Consigue los últimos artículos 
                .footer__form
                    form(action="procesarSubs.html", method="POST")
                        input(type="email", name="subscribe", id="subscribe", placeholder="Tu e-mail", class="input", required)
                        i(class="far fa-envelope", aria-hidden="true", role="img")
                        p(class="confirma", id="confirma", role="status")
                        input(type="submit", id="subscribirme", value="Subscribirme", class="submit", tabindex="2")
            .footer__certifhtml
                picture
                    source(type="image/webp", srcset="./images/W3C_HTML5_certified.webp")
                    source(type="image/gif", srcset="./images/W3C_HTML5_certified.gif")
                    source(type="image/svg+xml" srcset="./images/W3C_HTML5_certified.svg")
                    img(data-src="./images/W3C_HTML5_certified.png", alt="Certificado HTML5 por W3C", loading="lazy", class="lazyload")
            .footer__certifcss
                picture
                    source(type="image/png" srcset="./images/W3C_CSS_certified.png")
                    source(type="image/webp", srcset="./images/W3C_CSS_certified.webp")
                    source(type="image/gif", srcset="./images/W3C_CSS_certified.gif")
                    img(data-src="./images/W3C_CSS_certified.svg", alt="Certificado HTML5 por W3C", loading="lazy", class="lazyload")
        link(rel="stylesheet", href="./css/no-critical.css")
        script(src="./js/lazy.js")
        script(src="./js/index.js")
        script(src="./js/slider.js" defer)
        script(src="./js/MOBtnVolverArriba.js" defer)
        script(src="./js/MSScrollVolverArriba.js" defer)
        link(rel="preload", href="https://fonts.googleapis.com/css?family=Gupter:400,700%7cSource+Sans+Pro:300i,400,600,700&display=swap", as="style", onload="this.rel='stylesheet'")
