:root {
  --fondo: aliceblue;
  --fondo-footer: #555;
  --texto: #333;
  --texto-footer: white;
  --contraste: skyblue;
  --active: rgb(248, 127, 27);
  --bgcactive: #ccc;
  --font-base: 'Source Sans Pro', sans-serif;
  --font-body: 2rem;
  --font-hero: 4rem;
}

/** Media Queries Custom**/

@custom-media --small only screen and (min-width: 560px);

@custom-media --medium only screen and (min-width: 730px);

@custom-media --big only screen and (min-width: 1010px);

@custom-media --verybig only screen and (min-width: 1200px);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  width: 100%;
}

body {
    background-color: var(--fondo);
    color: var(--texto);
    font-family: var(--font-base);
    font-size: var(--font-body);
}

.no-visible {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}


.header {
  height: 100vh;
  background-image: url(../images/hero1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & .fa-bars.icon-menu.burguer-boton {
    color: var(--fondo);
    display: block;
    width: 4rem;
    height: 4rem;
    background-color: rgba(0,0,0,.6);
    position:fixed;
    left: .5rem;
    top: .5rem;
    z-index: 4;
    line-height: 4.5rem;
    text-align: center;
    font-size: 3rem;

    @media (--medium) {
      display: none;
    }
  }

  & p, & h1 {
    color: var(--fondo);
    font-size: var(--font-hero);
    text-shadow: 4px 4px 6px var(--texto);
    text-align: center;
  }

}

.subheader {
  display: block;
  width: 95%;
  margin: 0 auto;
  text-align: center;

  @media (--medium) {
    background-color: var(--fondo);
    position: sticky;
    top: 0;
    display: grid;
    grid-template-columns: 1fr 2fr 7fr;
    z-index: 10;
    margin-top: .8rem;
    margin-bottom: 1rem;
    padding-top: .6rem;
    height: 8.5rem;

  }

  & .subheader__logo {
    width: 15rem;
    margin: 0 auto;

    & a {
      border-bottom: none;
    }

    & img {
      max-width: 100%;
    }

    @media (--medium) {
      width: 8rem;
    }

  }

  & .subheader__titulo h2{
    margin-bottom: 2.6rem;

    @media (--medium) {
      font-size: 2.6rem;
    }

    @media (--big) {
      font-size: 2rem;
      margin-bottom: 0;
      margin-top: 2rem;

    }

    @media (--verybig) {
      font-size: 3.2rem;
    }
  }

  & .subheader__menu.menu {
    background-color: var(--contraste);
    opacity: .9;
    position: fixed;
    top: 0;
    bottom:0;
    left: 0;
    width: 100vw;
    height: 100vh;
    margin-left: -100vw;
    transition: all 0.3s ease;
    z-index: 3;

    @media (--medium) {
      position: initial;
      background-color: var(--fondo);
      opacity: 1;
      height: 6.5rem;
      max-width: 700px;
      width: calc(100vw * .7);
      margin: 0;
      left: initial;
    }

    @media (--big) {
      position: absolute;
      right: 0;

    }

  }

  & .menu.is-active {
    margin-left: 0;
  }

  & ul {
    width: 100%;
    padding: 0;
    margin: 6rem 0;
    list-style-type: none;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;

    @media (--medium) {
      max-width: 100%;
      margin: 0;
      display: grid;
      grid-template-columns: repeat(1, 1fr 1fr 1fr 2fr 2fr);
    }
    
    & li {
      margin: .5rem 0;
      padding: 1.5rem 1rem;

      @media (--medium) {
        max-width: 20rem;
      }
    }
  }

}

a, 
a:link, 
a:visited {
  text-decoration: none;
  border-bottom: 2px solid var(--texto);
  color: var(--texto);

  &[href*="http"] {
    background: url('../images/external-link.png') no-repeat 100% 0;
    background-size: 16px 16px;
    padding-right: 19px;

    &:focus, &:hover {
      background: url('../images/external-link2.png') no-repeat 100% 0;
      background-size: 16px 16px;
      padding-right: 19px;
    }
  }
}

a:focus,
a:hover {
  color: var(--active);
  border-bottom: 1px solid var(--active);
  outline: none;
}

a:active,
nav li.active a:link,
nav li.active a:visited {
  color: var(--active);
  border-bottom: 2px solid var(--active);
}

nav li.active {
  color: var(--active);
}

.grid {
    display: grid;
    padding: 0;
    list-style-type: none;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    gap: 1rem;
    width: 100%;

    @media (--small) {
      grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    }

    @media (--medium) {
      grid-template-columns: 1fr 1fr;
    }

    @media (--big) {
      grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    }

    @media (--verybig) {
      max-width: 121rem;
      margin: 0 auto;
    }
    
    & .caja {
      box-shadow: 0px 0px 4px var(--fondo-footer);
      width: 86%;
      margin: 1.8rem;
      transition: transform 1s;

      @media (--small) {
        width: 84%;
      }

      & .caja__fa {
        transition:transform 1s;
        & .fa-html5, & .fa-css3-alt, & .fa-js-square, & .fa-tools {
          width: 6rem;
          height: 6rem;
          color: var(--contraste);
          display: block;
          margin: 1rem auto;

        }
      }

      &:hover {
        transform: scale(1.1);
        & .caja__fa:hover{
          transform: scale(1.25);
        }
      }

      & .caja__contenido {
        & h3 {
          font-family: 'Gupter', serif;
          font-size: 2.6rem;
          text-align: center;
        }

        & p {
          text-align: center;
          padding: 1rem;
        }

        & .boton {
          display: block;
          width: 12rem;
          margin: 1rem auto;
          padding: 1.6rem;
          text-align: center;
          text-transform: uppercase;
          font-weight: bold;
          background-color: var(--bgcactive);
          border-bottom: none;
          border-radius: .6rem;

          &:hover {
            color: var(--fondo);
            background-color: var(--contraste);
            cursor: pointer;
          }
        }
      }
    }
}

.footer {
  margin-top: 3rem;
  padding: 4rem 3rem;
  background-color: var(--fondo-footer);
  color: var(--texto-footer);
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
  gap: 1rem;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;

  & .footer__subscribe {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;

    & h4 {
      font-size: 3.6rem;

    }

    & p {
      font-size: 2.6rem;
    }
  }

  & .footer__form {
    & form {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 2rem;
      gap: 2rem;

      & input {
        font-family: var(--font-base);
        font-size: 1.8rem;

        @media (--small) {
          font-size: 2.2rem;
          width: 50rem;
          margin: 0 auto;
        }

        &[type="submit"] {
          display: inline-block;
          width: 20rem;
          margin: 0 auto;
          padding: 1rem;
          cursor: pointer;
          background-color: var(--bgcactive);
          border-radius: .6rem;

          &:hover {
            color: var(--fondo);
            background-color: var(--contraste);
            cursor: pointer;
          }
        }
      }
    }
  }
}
