extends ../templates/template
block title
  title= titles[9]
block header
  h1(role="header") Aprende Abilidades Básicas
  p Programa Sitios Web con HTML5, CSS y JavaScript
  -let active = ''
block main
  main(class="css-tema1", id="main", role="main")
    +migastemas(hrefes[2],menus[2],titulo[4])
    h2(role="header")= titulo[4]
    p El CSS (Cascading Style Sheets, hojas de estilo en cascada) permite aplicar estilos y dar forma a nuestro contenido HTML. Este artículo explica qué es CSS con un ejemplo de sintaxis sencilla, y también cubre algunos términos clave sobre el lenguaje.
    section.grid-tema
      +cajatema(srcs[8],'Que es CSS, Siglas de Cascading Style Sheets CSS sobre un fondo rojo','images/nhcssfunda1-464.jpg 464w, images/nhcssfunda1-644.jpg 644w, images/nhcssfunda1-834.jpg 834w, images/nhcssfunda1.jpg 1024w',tituloarticulo[8],contenidostema[8],articulos[8])
      +cajatema(srcs[9],'Comenzando, boligrafo que apunta sobre un papel una regla CSS','images/nhcssfunda2-464.jpg 464w, images/nhcssfunda2-644.jpg 644w, images/nhcssfunda2-834.jpg 834w, images/nhcssfunda2.jpg 1024w',tituloarticulo[9],contenidostema[9],articulos[9])