extends ../templates/template
block title
  title= titles[25]
block header
  h1 Aprende Abilidades Básicas
  p Programa Sitios Web con HTML5, CSS y JavaScript
  -let active = ''
block main
  main(class="herra-tema3", id="main")
    +migastemas(hrefes[4],menus[4],titulo[20])
    h2= titulo[20]
    p Descubriremos cómo gestionar adecuadamente recursos visuales como imágenes y formas, y como dotar nuestras webs y aplicaciones web de cierta vitalidad y responsividad a través de animaciones.
    section.grid-tema
      +cajatema(srcs[36],'Se observa la interfaz dee Photoshop para su menú de guardar para web','images/nhherraimages1-464.jpg 464w, images/nhherraimages1-644.jpg 644w, images/nhherraimages1-834.jpg 834w, images/nhherraimages1.jpg 1024w',tituloarticulo[36],contenidostema[36],articulos[36])
      +cajatema(srcs[37],'Siglas de CSS sobre las que aparece una flecha formada por puntos y que da sentido de movimiento','images/nhherraimages2.jpg 830w',tituloarticulo[37],contenidostema[37],articulos[37])