extends ../templates/template
block title
  title= titles[24]
block header
  h1(role="header") Aprende Abilidades Básicas
  p Programa Sitios Web con HTML5, CSS y JavaScript
  -let active = ''
block main
  main(class="herra-tema2", id="main", role="main")
    +migastemas(hrefes[4],menus[4],titulo[19])
    h2(role="header")= titulo[19]
    p Si alguna vez ha desarrollado el front-end de una página web habréis trabajado con un editor de texto editando ficheros HTML, CSS y JavaScript. Actualmente los desarrolladores web utilizamos herramientas algo más complejas que el simple editor de texto.
    section.grid-tema
      +cajatema(srcs[34],'Se muestra un diagrama de flujo entre tres estados A, B y C.','images/nhherrawork1-464.jpg 464w, images/nhherrawork1-644.jpg 644w, images/nhherrawork1-834.jpg 834w, images/nhherrawork1.jpg 1024w',tituloarticulo[34],contenidostema[34],articulos[34])
      +cajatema(srcs[35],'Logotipo de Parcels donde se muestra una caja que empaqueta diferentes tipos de archivos recalcando con texto su configuración cero.','images/nhherrawork2-464.jpg 464w, images/nhherrawork2-644.jpg 644w, images/nhherrawork2-834.jpg 834w, images/nhherrawork2.jpg 1024w',tituloarticulo[35],contenidostema[35],articulos[35])