extends ../templates/template
block title
  title= titles[26]
block header
  h1 Aprende Abilidades Básicas
  p Programa Sitios Web con HTML5, CSS y JavaScript
  -let active = ''
block main
  main.herramientas-tema4#main
    +migastemas(hrefes[4],menus[4],titulo[21])
    h2= titulo[21]
    p Entenderemos qué significa rendimiento en una aplicación front-end, y descubriremos cuáles son las herramientas más adecuadas para medir las métricas críticas.
    section.grid-tema
      +cajatema(srcs[38],'Rendimiento Web: Herramientas y Métricas','images/nhherrarendi1-464.jpg 464w, images/nhherrarendi1-644.jpg 644w, images/nhherrarendi1-834.jpg 834w, images/nhherrarendi1.jpg 1024w',tituloarticulo[38],contenidostema[38],articulos[38])