extends ../templates/template
block title
  title= titles[7]
block header
  h1 Aprende Abilidades Básicas
  p Programa Sitios Web con HTML5, CSS y JavaScript
  -let active = ''
block main
  main.html-tema3#main
    +migastemas(hrefes[1],menus[1],titulo[2])
    h2= titulo[2]
    p Este módulo nos introduce en el marcado de tablas HTML, incluyendo los conceptos básicos, como son filas y celdas, encabezados, o bien hacer que las celdas abarquen varias filas y columnas.
    section.grid-tema
      +cajatema(srcs[4],'Tablas Básicas','Tablas Básicas',contenidostema[4],articulos[4])
      +cajatema(srcs[5],'Tablas Avanzado','Tablas Avanzado',contenidostema[5],articulos[5])