extends ../templates/template
block title
  title= titles[8]
block header
  h1 Aprende Abilidades Básicas
  p Programa Sitios Web con HTML5, CSS y JavaScript
  -let active = ''
block main
  main.html-tema4#main
    +migastemas(hrefes[1],menus[1],titulo[3])
    h2= titulo[3]
    p Los formularios HTML son una herramienta muy poderosa para interactuar con los usuarios, aunque no siempre es obvio cómo usarlos en todo su potencial. En los siguientes artículos, cubriremos los aspectos fundamentales de los formularios HTML.
    section.grid-tema
      +cajatema(srcs[6],'Formularios Visión General',tituloarticulo[6],contenidostema[6],articulos[6])
      +cajatema(srcs[7],'Estructura de un Formulario',tituloarticulo[7],contenidostema[7],articulos[7])