extends ../templates/template
block title
  title= titles[7]
block header
  h1 Aprende Abilidades B치sicas
  p Programa Sitios Web con HTML5, CSS y JavaScript
  -let active = ''
block main
  main.html-tema3#main
    +migastemas(hrefes[1],menus[1],titulo[2])
    h2= titulo[2]
    p Este m칩dulo nos introduce en el marcado de tablas HTML, incluyendo los conceptos b치sicos, como son filas y celdas, encabezados, o bien hacer que las celdas abarquen varias filas y columnas.
    section.grid-tema
      +cajatema(srcs[4],'Tablas B치sicas','images/nhhtmltablas1-464.jpg 464w, images/nhhtmltablas1-644.jpg 644w, images/nhhtmltablas1-834.jpg 834w, images/nhhtmltablas1.jpg 1024w',tituloarticulo[4],contenidostema[4],articulos[4])
      +cajatema(srcs[5],'Tablas Avanzado','images/nhhtmltablas2-464.jpg 464w, images/nhhtmltablas2-644.jpg 644w, images/nhhtmltablas2-834.jpg 834w, images/nhhtmltablas2.jpg 1024w',tituloarticulo[5],contenidostema[5],articulos[5])