extends ../templates/template
block title
  title= titles[5]
block header
  h1 Aprende Abilidades Básicas
  p Programa Sitios Web con HTML5, CSS y JavaScript
  -let active = ''
block main
  main(class="html-tema1", id="main")
    +migastemas(hrefes[1],menus[1],titulo[0])
    h2= titulo[0]
    p Si queremos hacer una página web que siga los estándares, que sea fácilmente actualizable, localizable por los buscadores... deberemos usar una combinación de HTML y CSS. Por ello el bloque de contenido que trabajaremos en esta unidad explica los fundamentos del lenguaje HTML.
    section.grid-tema
      +cajatema(srcs[0],'Etiquetas HTML que contienen el valor 5, escrito con tiza blanca y rosa sobre una pizarra negra','images/nhhtmlfunda1-464.jpg 464w, images/nhhtmlfunda1-644.jpg 644w, images/nhhtmlfunda1-834.jpg 834w, images/nhhtmlfunda1.jpg 1024w',tituloarticulo[0],contenidostema[0],articulos[0])
      +cajatema(srcs[1],'Sobre una pantalla de monitor se observa el código del elemento head con elementos meta.','images/nhhtmlfunda2-464.jpg 464w, images/nhhtmlfunda2-644.jpg 644w, images/nhhtmlfunda2-834.jpg 834w, images/nhhtmlfunda2.jpg 1024w',tituloarticulo[1],contenidostema[1],articulos[1])