extends ../templates/template
block title
  title= titles[8]
block header
  h1(role="header") Aprende Abilidades Básicas
  p Programa Sitios Web con HTML5, CSS y JavaScript
  -let active = ''
block main
  main(class="html-tema4", id="main", role="main")
    +migastemas(hrefes[1],menus[1],titulo[3])
    h2(role="header")= titulo[3]
    p Los formularios HTML son una herramienta muy poderosa para interactuar con los usuarios, aunque no siempre es obvio cómo usarlos en todo su potencial. En los siguientes artículos, cubriremos los aspectos fundamentales de los formularios HTML.
    section.grid-tema
      +cajatema(srcs[6],'Formulario de login','images/nhhtmlform1-464.jpg 464w, images/nhhtmlform1-644.jpg 644w, images/nhhtmlform1-834.jpg 834w, images/nhhtmlform1.jpg 1024w',tituloarticulo[6],contenidostema[6],articulos[6])
      +cajatema(srcs[7],'Se observan dos campos de formulario uno de username y otro de password.','images/nhhtmlform2-464.jpg 464w, images/nhhtmlform2-644.jpg 644w, images/nhhtmlform2-834.jpg 834w, images/nhhtmlform2.jpg 1024w',tituloarticulo[7],contenidostema[7],articulos[7])