extends ../templates/template
block title
  title= titles[0]
block header
  h1 Desarrollo Web
  p Como construir una web
block main
  section.grid
    +caja('fab fa-html5',menus[1],'Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium nostrum corrupti, eum facilis eligendi voluptatibus provident labore ipsam!')
    +caja('fab fa-css3-alt',menus[2],'Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium nostrum corrupti, eum facilis eligendi voluptatibus provident labore ipsam!')
    +caja('fab fa-js-square',menus[3],'Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium nostrum corrupti, eum facilis eligendi voluptatibus provident labore ipsam!')
    +caja('fas fa-tools',menus[4],'Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium nostrum corrupti, eum facilis eligendi voluptatibus provident labore ipsam!')
