extends ../templates/template
block title
  title= titles[0]
block header
  h1 Desarrollo Front-End
  p Como construir una web
  -let active = 'inicio'
block main
  main(class="indice", id="main")
    section.grid
      +caja('fab fa-html5',menus[1],'HTML es el lenguaje de marcado que usaremos para definir el contenido y la estructura de las páginas web.',hrefes[1])
      +caja('fab fa-css3-alt',menus[2],'CSS es un conjunto de reglas que nos permitirá describir cómo se mostrará la página web en la pantalla.',hrefes[2])
      +caja('fab fa-js-square',menus[3],'JavaScript es un lenguaje de scripting multiplataforma y orientado a objetos. Es un lenguaje pequeño y liviano. Dentro de un ambiente de host, JavaScript puede conectarse a los objetos de su ambiente y proporcionar control programático sobre ellos.',hrefes[3])
      +caja('fas fa-tools',menus[4],'Durante los primeros años del desarrollo web, el análisis del código y de posibles errores se tenía que hacer manualmente.',hrefes[4])
      
