extends ../templates/template
block title
  title= titles[14]
block header
  h1 Aprende Abilidades Básicas
  p Programa Sitios Web con HTML5, CSS y JavaScript
  -let active = ''
block main
  main.javascript-tema1#main
    +migastemas(hrefes[3],menus[3],titulo[9])
    h2= titulo[9]
    p JavaScript contiene una librería estándar de objetos, tales como Array, Date, y Math, y un conjunto central de elementos del lenguaje, tales como operadores, estructuras de control, y sentencias.
    section.grid-tema
      +cajatema(srcs[16],'JavaScript no es Java',tituloarticulo[16],contenidostema[16],articulos[16])
      +cajatema(srcs[17],'ECMAScript',tituloarticulo[17],contenidostema[17],articulos[17])