extends ../templates/template
block title
  title= titles[19]
block header
  h1(role="header") Aprende Abilidades Básicas
  p Programa Sitios Web con HTML5, CSS y JavaScript
  -let active = ''
block main
  main(class="js-tema6", id="main")
    +migastemas(hrefes[3],menus[3],titulo[14])
    h2= titulo[14]
    p Podemos definir las funciones como trozos de código a los que ponemos un nombre para que nos sea más fácil reutilizarlos. Evidentemente es más complicado y, sobre todo, más completo que eso, pero como idea básica nos puede servir.
    section.grid-tema
      +cajatema(srcs[25],'Anagrama de la pantalla de un portatil con las palabras Funciones y JS de color negro sobre fondo amarillo.','',tituloarticulo[25],contenidostema[25],articulos[25])
      +cajatema(srcs[26],'Diagrama con las partes de una función.','',tituloarticulo[26],contenidostema[26],articulos[26])