extends ../templates/template
block title
  title= titles[17]
block header
  h1 Aprende Abilidades Básicas
  p Programa Sitios Web con HTML5, CSS y JavaScript
  -let active = ''
block main
  main(class="js-tema4", id="main")
    +migastemas(hrefes[3],menus[3],titulo[12])
    h2= titulo[12]
    p En este capítulo se tratan dos temas. Por un lado las estructuras de control condicionales. Por el otro el control de errores.
    section.grid-tema
      +cajatema(srcs[22],'Fragmento de código en el que se observa el condicional if..else.','images/nhjscondi2-464.jpg 464w, images/nhjscondi2-644.jpg 644w, images/nhjscondi2-834.jpg 834w, images/nhjscondi2.jpg 1024w',tituloarticulo[21],contenidostema[21],articulos[21])
      +cajatema(srcs[21],'Fragmentos de código en una pantalla.','images/nhjscondi1.jpg 539w',tituloarticulo[22],contenidostema[22],articulos[22])