extends ../templates/template
block title
  title= titles[18]
block header
  h1 Aprende Abilidades Básicas
  p Programa Sitios Web con HTML5, CSS y JavaScript
  -let active = ''
block main
  main(class="js-tema5", id="main")
    +migastemas(hrefes[3],menus[3],titulo[13])
    h2= titulo[13]
    p Los bucles ofrecen una manera rápida y sencilla de hacer algo repetitivamente.
    section.grid-tema
      +cajatema(srcs[23],'Anagrama de la pantalla de un portatil en el que se observan las palabras Loops y JS sobre fondo amarillo.','',tituloarticulo[23],contenidostema[23],articulos[23])
      +cajatema(srcs[24],'Diagrama de flujo de un bucle while..','',tituloarticulo[24],contenidostema[24],articulos[24])