extends ../templates/template
block title
  title= titles[15]
block header
  h1(role="header") Aprende Abilidades Básicas
  p Programa Sitios Web con HTML5, CSS y JavaScript
  -let active = ''
block main
  main(class="js-tema2", id="main")
    +migastemas(hrefes[3],menus[3],titulo[10])
    h2= titulo[10]
    p Aunque ya hemos estado haciendo operaciones con JavaScript, ha llegado el momento de hacer un recorrido por todos los operadores que podemos encontrar en JavaScript. También repasaremos que es una expresión y veremos algunas expresiones particulares.
    section.grid-tema
      +cajatema(srcs[18],'Aparecen las palabras JavaScript y Operadores, así como el nombre de dirferentes tipos de operadores en JavaScript.','',tituloarticulo[18],contenidostema[18],articulos[18])
      +cajatema(srcs[19],'Piramide donde se muestra la precedencia de los diferentes operadores de JavaScript.','',tituloarticulo[19],contenidostema[19],articulos[19])