extends ../templates/template
block title
  title= titles[21]
block header
  h1 Aprende Abilidades Básicas
  p Programa Sitios Web con HTML5, CSS y JavaScript
  -let active = ''
block main
  main.javascript-tema8#main
    +migastemas(hrefes[3],menus[3],titulo[16])
    h2= titulo[16]
    p Suele pasar que las traducciones al español varían según las preferencias del traductor. Así, Array, se suele traducir cómo Matriz, cómo tabla o cómo Vector dependiendo del traductor.
    section.grid-tema
      +cajatema(srcs[29],'Introducción','',tituloarticulo[29],contenidostema[29],articulos[29])
      +cajatema(srcs[30],'Métodos','',tituloarticulo[30],contenidostema[30],articulos[30])