extends ../templates/template
block title
  title= titles[22]
block header
  h1 Aprende Abilidades Básicas
  p Programa Sitios Web con HTML5, CSS y JavaScript
  -let active = ''
block main
  main.javascript-tema9#main
    +migastemas(hrefes[3],menus[3],titulo[17])
    h2= titulo[17]
    p Los objetos son una estructura de datos común en muchos lenguajes de programación. Nos permiten programar tratando la información de una manera similar a cómo la tratamos en el mundo real.
    section.grid-tema
      +cajatema(srcs[31],'Introducción','',tituloarticulo[31],contenidostema[31],articulos[31])