-const titles = ['Desarrollo Web - Como construir una web', 'Desarrollo Web - Aprende habilidades básicas', 'Desarrollo Web - Programa sitios web']
-let menus = ['Inicio', 'HTML', 'CSS', 'JavaScript', 'Herramientas']
-let hrefes = ['index.html', 'html.html', 'css.html', 'javascript.html', 'herramientas.html']
include ../mixins/mixins