:root {
  --fondo: aliceblue;
  --fondo-footer: #555;
  --texto: #333;
  --texto-footer: white;
  --contraste: skyblue;
  --font-body: 2rem;
  --font-hero: 4rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
    background-color: var(--fondo);
    color: var(--texto);
    font-family: 'Source Sans Pro', sans-serif;
    font-size: var(--font-body);
}

.header {
  height: 100vh;
  background-image: url(../../src/images/hero1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & svg, & i {
    color: var(--fondo);
    display: block;
    width: 4rem;
    height: 4rem;
    text-align: left;
  }

  & p, & h1 {
    color: var(--fondo);
    font-size: var(--font-hero);
    text-shadow: 4px 4px 6px var(--texto);
  }

}


